td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: center;
    
  }

 /* Zebra */
  tbody tr:nth-child(1) {
    background: white;
    }
    tbody tr:nth-child(10) {
      background: white;
      }
      tbody tr:nth-child(7) {
        background: red;
        }
       
      
    table {
      margin-left: auto;
      margin-right: auto;
    }

    button{
      
      
      font-size: 40px;
      padding: 10px;
      border-radius: 10px;
      margin: 20px;
    }
    
   
    body {
      background-image: url('img_files/background.png');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
    }
   
    .tableFixHead thead td,th 
    { position: sticky; top: 0; }
    
    table tbody { 
      display:block; max-height:450px; overflow-y:scroll; 
    }
table thead, table tbody tr {
   display:table; width:100%; table-layout:fixed;
   }